<h1 class="text-center">Editing User</h1>
<div class="center">
	<%= render 'form', user: @user %>
	<div class="link">
		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
	</div>
</div>
